*{
  margin:0;
  padding:0;
  box-sizing: border-box;
  font-family: 'Lora', serif;
}

body{
  background: linear-gradient(to top,#fef4a9 20%,#fff 70%);
}

.top-container{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;
 }

 
.left-container{
  flex: 30%;
  text-align: center;
}

.right-container{
  flex: 70%;
}



@media (max-width: 800px) {

  .top-container{
    flex-direction: column-reverse;
  }
  .right-container,  .left-container {
    flex: 100%;
  }

}